@{
    ViewBag.Title = "بازنشانی رمز عبور";
    Layout = "_IdentityLayout";
}

<h5>بازنشانی رمز عبور</h5>

<!-- form -->
<form asp-action="ForgotPassword">
    <div class="form-group">
        <input type="email" class="form-control text-left" name="email" placeholder="ایمیل" dir="ltr" required autofocus>
    </div>
    <button class="btn btn-primary btn-block">ثبت</button>
    <hr>
    <a asp-action="Register" class="btn btn-sm btn-outline-light mr-1 my-1">هم اکنون ثبت نام کنید!</a>
    یا
    <a asp-action="Login" class="btn btn-sm btn-outline-light ml-1 my-1">وارد شوید!</a>
</form>
<!-- ./ form -->