
@{
    ViewData["Title"] = "NotAllowed";
    Layout = "~/Views/Shared/_IdentityLayout.cshtml";
}

<p>کاربر با ایمیل @ViewData["Email"] قبلا در سایت ثبت شده است اما تایید نشده است. لطفا به ایمیل خود مراجعه کرده و روی لینک فعال سازی کلیک نمایید.</p>