
@{
    ViewData["Title"] = "RegisterConfirmation";
    Layout = "~/Views/Shared/_IdentityLayout.cshtml";
}

<p>لینک فعال سازی به ایمیل @ViewData["Email"] ارسال شده است. لطفا ایمیل خود را تایید کنید تا بتوانید از امکانات سایت استفاده کنید.</p>

