<div class="modal-header">
    <h5 class="modal-title" id="header-title">تایید تراکنش</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form asp-action="ConfirmPurchase">
    <input type="hidden" name="purchaseId" value="@ViewData["PurchaseId"]"/>
    <div class="modal-body">
        <p>نام و نام خانوادگی : @ViewData["FullName"]</p>
        <p>مقدار : @ViewData["Amount"]</p>
        <hr />
        <div class="form-group">
            <label for="transactionLink" class="col-form-label">لینک تراکنش :</label>
            <input required type="text" class="form-control text-right" name="transactionLink" id="transactionLink">
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success">ثبت</button>
        
    </div>
</form>